{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block description %}Liste des produits{% endblock %}

{% block keywords %}Admin, liste, produits{% endblock %}

{% block jQuery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block DataTables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.7/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                language: { 
                    url: 'https://cdn.datatables.net/plug-ins/2.0.7/i18n/fr-FR.json'
                },
            })
        } );
    </script>
{% endblock %}

{% block main %}
    <h1>Liste des magasins</h1>
     {% include 'components/_alert.html.twig' %}
     <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('app_admin_store_create')}}" class="btn btn-secondary shadow"><i class="fa-solid fa-plus"></i> Nouveau magasin</a>
    </div>
     <div class="table-responsive mx-auto">
        <table  id="myTable" class="table table-hover text-center table-bordered w-md-100">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Picture</th>
                    <th>Adresse</th>
                    <th>Maps</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr>
                    <td>{{ store.id }}</td>
                    <td>
                    {% if store.picture %}
                    <img  class="image-fluid" src="{{vich_uploader_asset(store, 'imageFile') | imagine_filter('admin') }}" alt="magasin {{store.id}}">
                {% endif %}
                    </td>
                    <td>
                        <div>
                            <p>{{ store.adresse }}</p>
                            <div>
                                {{store.cp}}
                                {{store.ville}}
                            </div>
                        </div>
                    </td>
                    <td>{{store.map [:50]}} ...</td>
                    <td>
                        <div class="d-flex  justify-content-around ">
                                                        
                            <a href="{{path('app_admin_store_edit', {'id' : store.id})}}"><i class="fa-solid fa-pen mt-4"></i></a>
                            <form action="{{path('app_admin_store_delete', {'id':store.id})}}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{csrf_token('delete_store_'~store.id)}}"> 
                                <button onclick="return confirm('Confirmer cette action?')" class="border-0 bg-white" type="submit"><i style='color:red' class="fa-solid fa-trash mt-4"></i></button> 
                            </form>
                            </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{# Westfield Carré Sénart - 3 All. du Préambule
Lieusaint
77127
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.7355684526915!2d2.5455262767449813!3d48.61490471781019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e395df8edf11%3A0xca6234102084369!2sWestfield%20Carr%C3%A9%20S%C3%A9nart!5e0!3m2!1sfr!2sfr!4v1716756577721!5m2!1sfr!2sfr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> #}