<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Title #}
        <title>{% block title %}{% endblock %} - Canap'plus</title>

        {# Google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Satisfy&display=swap" rel="stylesheet">

        {# SEO #}
        <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon"/>
        <meta name="robots" content="index, allow">
        <meta name="description" content="{% block description %}{% endblock %} ">
        <meta name="keywords" content="{% block keywords %}{% endblock %} ">
        <meta name="author" content="Vincent K.">
        <meta name="publisher" content="Vincent K.">

        {# CSS part of Bootstrap 5 & fontawesome Icon #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
        {% block style %}
        <link rel="stylesheet" href="/styles/styles.css">
          
        {% endblock %}

    </head>
    <body>
        
    <nav class="colorGreen navbar navbar-expand-sm .d-sm-none .d-md-block ">
      <div class="container-fluid">
      <div class=" d-flex justify-content-start me-5 ms-0">
      {% if app.user %}
        <a href=""><img src="/images/logo.png" alt="logo" ></a>
      {% else %}
         <a href="{{path('visitor_welcome_index')}}"><img src="/images/logo.png" alt="logo"></a>
      {% endif %}
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="#">Nos produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="magasins.html"> Nos magasins</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="about-us.html">Qui sommes nous ? </a>
            </li>
          </ul>
          
            {% if app.user %}
              <div class="dropdown-center me-3 my-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="fa-solid fa-user"></i> 
                </button>
                <ul class="dropdown-menu ">
                  <li><a class="dropdown-item" href="#">Modifier mes informations</a></li>
                  <li><a class="dropdown-item" href="#">Voir mon panier</a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="{{path('app_admin_home')}}">Espace Administration</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a></li>
                </ul>
              </div>
              <form class="d-flex my-1" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Rechercher"
              aria-label="Search"
            />
          </form>
            {% else %}
            <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Rechercher"
              aria-label="Search"
            />
          </form>
                <a id="signIn" href="{{path('visitor_app_register')}}" class="btn connect">S'inscrire </a>
                <a href="{{path('visitor_app_login')}}" class="btn connect"> Connexion</a>
            {% endif %}
        </div>
      </div>
    </nav>


      {% block main %}{% endblock %}
      
         <footer class="mt-5 colorGreen d-flex flex-column align-items-center " >
          <a class=" mt-4 colorFooter nav-link" href=""> Nous contacter</a>
          <p class="colorFooter">© Copyright</p>
    </footer>
      
      <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"
      ></script>
    </body>
</html>
